<%# app/views/contacts/analysis/_alerts.html.erb %>
<div class="box">
  <h3><%= l(:label_data_quality) %></h3>
  
  <div class="splitcontentleft">
    <h4><%= l(:label_completeness_score) %></h4>
    <div class="chart">
      <% score = @contact.completeness_score %>
      <%= progress_bar(score,
                    width: '100%',
                    legend: "#{score}%",
                    class: score > 80 ? 'good' : (score > 50 ? 'medium' : 'bad')) %>
    </div>
    
    <ul class="checklist">
      <li class="<%= @contact.email.present? ? 'ok' : 'missing' %>">
        <%= l(:field_email) %>
      </li>
      <li class="<%= @contact.phone.present? ? 'ok' : 'missing' %>">
        <%= l(:field_phone) %>
      </li>
      <li class="<%= @contact.address.present? ? 'ok' : 'missing' %>">
        <%= l(:field_address) %>
      </li>
      <li class="<%= @contact.description.present? ? 'ok' : 'missing' %>">
        <%= l(:field_description) %>
      </li>
      <li class="<%= @contact.project.present? ? 'ok' : 'missing' %>">
        <%= l(:field_project) %>
      </li>
    </ul>
  </div>
  
  <div class="splitcontentright">
    <h4><%= l(:label_potential_issues) %></h4>
    <div class="alerts">
      <% if @contact.person? && @contact.roles.empty? %>
        <div class="alert">
          <span class="icon icon-warning"></span>
          <%= l(:text_no_company_association) %>
        </div>
      <% end %>
      
      <% if @contact.email.present? && @contact.duplicates_by_email.any? %>
        <div class="alert">
          <span class="icon icon-warning"></span>
          <%= l(:text_duplicate_email_found) %>:
          <ul>
            <% @contact.duplicates_by_email.each do |duplicate| %>
              <li><%= link_to duplicate.name, contact_path(duplicate) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <% if @contact.person? && @contact.roles.active.empty? %>
        <div class="alert">
          <span class="icon icon-warning"></span>
          <%= l(:text_no_active_company_roles) %>
        </div>
      <% end %>
      
      <% if @contact.issues.open.count > 5 %>
        <div class="alert">
          <span class="icon icon-warning"></span>
          <%= l(:text_high_open_issues, count: @contact.issues.open.count) %>
        </div>
      <% end %>
    </div>
  </div>
  
  <h4><%= l(:label_recent_changes) %></h4>
  <div class="journal-list">
    <% @contact.journals.includes(:user)
                      .order(created_on: :desc)
                      .limit(5)
                      .each do |journal| %>
      <div class="journal">
        <div class="h4">
          <%= avatar(journal.user, size: "24") %>
          <%= link_to_user(journal.user) %>
          <%= l(:text_journal_changed, :id => "##{journal.id}") %>
          <%= format_time(journal.created_on) %>
        </div>
        
        <ul class="details">
          <% journal.details.each do |detail| %>
            <li><%= show_detail(detail) %></li>
          <% end %>
        </ul>

        <% if journal.notes? %>
          <div class="wiki">
            <%= textilizable(journal.notes) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>