<%# app/views/contacts/analysis/_career.html.erb %>
<div class="box">
  <h3><%= l(:label_career_progression) %></h3>
  
  <div class="splitcontentleft">
    <h4><%= l(:label_positions_timeline) %></h4>
    <div class="chart">
      <%= timeline_chart @contact.roles.order(:created_at).map { |role|
        {
          name: role.position,
          data: {
            starting_time: role.created_at,
            ending_time: role.discontinued? ? role.updated_at : Time.current
          }
        }
      } %>
    </div>
  </div>
  
  <div class="splitcontentright">
    <h4><%= l(:label_company_distribution) %></h4>
    <div class="chart">
      <%= pie_chart @contact.roles.joins(:company)
                                .group('contacts.name')
                                .count,
                  colors: ['#2196F3', '#4CAF50', '#FFC107', '#F44336', '#9C27B0'],
                  legend: 'bottom' %>
    </div>
  </div>
  
  <h4><%= l(:label_career_summary) %></h4>
  <div class="career-timeline">
    <% @contact.roles.includes(:company)
                    .order(created_at: :desc)
                    .each do |role| %>
      <div class="timeline-item <%= role.status %>">
        <div class="time">
          <%= format_date(role.created_at) %> -
          <%= role.active? ? l(:label_present) : format_date(role.updated_at) %>
        </div>
        <div class="company">
          <%= link_to role.company.name, contact_path(role.company) %>
        </div>
        <div class="position"><%= role.position %></div>
        <div class="duration">
          (<%= distance_of_time_in_words(role.created_at, role.active? ? Time.current : role.updated_at) %>)
        </div>
      </div>
    <% end %>
  </div>
  
  <h4><%= l(:label_skills_and_expertise) %></h4>
  <div class="tags">
    <% @contact.roles.map(&:position).uniq.each do |position| %>
      <span class="tag"><%= position %></span>
    <% end %>
  </div>
</div>