<%# app/views/contacts/analysis/_projects.html.erb %>
<div class="box">
  <h3><%= l(:label_project_involvement) %></h3>
  
  <div class="splitcontentleft">
    <h4><%= l(:label_issues_by_project) %></h4>
    <div class="chart">
      <%= column_chart @contact.issues.joins(:project)
                                   .group('projects.name')
                                   .count %>
    </div>
  </div>
  
  <div class="splitcontentright">
    <h4><%= l(:label_issues_by_tracker) %></h4>
    <div class="chart">
      <%= pie_chart @contact.issues.joins(:tracker)
                                 .group('trackers.name')
                                 .count,
                  colors: ['#2196F3', '#4CAF50', '#FFC107', '#F44336'],
                  legend: 'bottom' %>
    </div>
  </div>
  
  <% if @contact.issues.any? %>
    <h4><%= l(:label_recent_activity) %></h4>
    <div class="activity">
      <%= render partial: 'activities/activities',
                locals: { events: @contact.issues.limit(10),
                         show_project: true } %>
    </div>
    
    <table class="list issues">
      <thead>
        <tr>
          <th>#</th>
          <th><%= l(:field_project) %></th>
          <th><%= l(:field_tracker) %></th>
          <th><%= l(:field_subject) %></th>
          <th><%= l(:field_status) %></th>
          <th><%= l(:field_priority) %></th>
        </tr>
      </thead>
      <tbody>
        <% @contact.issues.includes(:project, :tracker, :status, :priority)
                        .order(created_on: :desc)
                        .each do |issue| %>
          <tr class="<%= issue.css_classes %>">
            <td><%= link_to "##{issue.id}", issue_path(issue) %></td>
            <td><%= link_to_project(issue.project) %></td>
            <td><%= issue.tracker %></td>
            <td><%= link_to issue.subject, issue_path(issue) %></td>
            <td><%= issue.status %></td>
            <td><%= issue.priority %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>