<div class="contextual">
  <%= link_to l(:label_contact_group_new), new_contact_group_path, class: 'icon icon-add' %>
</div>

<h2><%= l(:label_contact_group_plural) %></h2>

<div class="autoscroll">
  <table class="list contact-groups">
    <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:label_member_count) %></th>
        <th><%= l(:label_issue_plural) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @contact_groups.any? %>
        <% @contact_groups.each do |group| %>
          <tr id="<%= dom_id(group) %>" class="contact-group <%= cycle('odd', 'even') %>">
            <td class="name"><%= link_to group.name, contact_group_path(group) %></td>
            <td><%= group.contacts.count %></td>
            <td><%= group.issues.size %></td>
            <td class="buttons">
              <%= link_to l(:button_edit), edit_contact_group_path(group), class: 'icon icon-edit' %>
              <%= delete_link contact_group_path(group) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" class="no-data"><%= l(:label_no_data) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @contact_groups.any? %>
  <span class="pagination"><%= pagination_links_full @group_pages %></span>
<% end %>
