<div class="box issue-foton-contacts">
  <h3><%= l(:label_foton_contacts_linked_contacts) %></h3>

  <%= turbo_frame_tag "foton_contacts_section" do %>
    <div id="issue_contact_links">
      <% if issue.contact_issue_links.any? %>
        <%= render partial: 'issues/contact_issue_link', collection: issue.contact_issue_links, as: :contact_issue_link %>
      <% else %>
        <p class="no-results"><%= l(:label_foton_contacts_no_linked_contacts) %></p>
      <% end %>
    </div>

    <%# This is where the form for adding new links will go (Step 3.3) %>
    <%= turbo_frame_tag "issue_contact_links_form" do %>
      <%= form_with model: ContactIssueLink.new(issue: issue), url: issue_contact_issue_links_path(issue), data: { turbo_frame: "issue_contact_links_form" } do |f| %>
        <p>
          <%= f.text_field :search_term, # This field will be used by Tom Select
                           data: { controller: "tom-select",
                                   tom_select_url_value: search_contacts_path(format: :json),
                                   tom_select_target_id_value: "contact_issue_link_contact_id",
                                   tom_select_target_group_id_value: "contact_issue_link_contact_group_id",
                                   tom_select_submit_on_change_value: true },
                           placeholder: l(:label_foton_contacts_search_contact_or_group),
                           class: "full-width" %>
          <%= f.hidden_field :contact_id %>
          <%= f.hidden_field :contact_group_id %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
