<div class="autoscroll">
  <table class="list issues">
    <thead>
      <tr>
        <th>#</th>
        <th><%= l(:field_project) %></th>
        <th><%= l(:field_subject) %></th>
        <% if local_assigns.key?(:contact) %>
          <th><%= l(:label_group_and_role) %></th>
          <th><%= l(:field_role) %></th>
        <% end %>
        <th><%= l(:field_status) %></th>
        <th><%= l(:field_start_date) %></th>
        <th><%= l(:field_due_date) %></th>
      </tr>
    </thead>
    <tbody>
      <% issues.each do |issue| %>
        <tr class="issue hascontextmenu <%= issue.css_classes %>">
          <td class="id"><%= link_to issue.id, issue_path(issue) %></td>
          <td class="project"><%= link_to issue.project, project_path(issue.project) %></td>
          <td class="subject"><%= link_to issue.subject, issue_path(issue) %></td>
          <% if local_assigns.key?(:contact) %>
            <td class="group"><%= display_group_info_for_contact_in_issue(contact, issue) %></td>
            <td class="role"><%= display_role_for_contact_in_issue(contact, issue) %></td>
          <% end %>
          <td class="status"><%= issue.status.name %></td>
          <td class="start_date"><%= format_date(issue.start_date) %></td>
          <td class="due_date"><%= format_date(issue.due_date) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
