<li id="search-result-contact-<%= contact.id %>">
  <div class="contact-result">
    <span class="name"><%= contact.name %></span>
    <% if User.current.allowed_to?(:manage_contacts, issue.project) %>
      <%= form_with(url: issue_contact_issue_links_path(issue, contact_issue_link: { contact_id: contact.id }), 
                    method: :post,
                    data: {
                      controller: 'workload-alert',
                      action: 'submit->workload-alert#check',
                      'workload-alert-check-url-value': check_workload_contacts_path
                    }) do %>
        <%= hidden_field_tag 'contact_id', contact.id %>
        <%= submit_tag l(:button_add), class: 'button-small' %>
      <% end %>
    <% end %>
  </div>
</li>
