<%= form_tag({}) do %>
  <div class="box tabular settings">
    <p>
      <label><%= l(:label_contact_create_from_user) %></label>
      <%= check_box_tag 'settings[create_user_contact]', 1, @settings['create_user_contact'].to_i == 1 %>
    </p>

    <p>
      <label><%= l(:label_enable_groups) %></label>
      <%= check_box_tag 'settings[enable_groups]', 1, @settings['enable_groups'] %>
    </p>

    <p>
      <label><%= l(:label_enable_issue_links) %></label>
      <%= check_box_tag 'settings[enable_issue_links]', 1, @settings['enable_issue_links'] %>
    </p>

    <p>
      <label><%= l(:label_enable_custom_fields) %></label>
      <%= check_box_tag 'settings[enable_custom_fields]', 1, @settings['enable_custom_fields'] %>
    </p>

    <p>
      <label><%= l(:label_enable_attachments) %></label>
      <%= check_box_tag 'settings[enable_attachments]', 1, @settings['enable_attachments'] %>
    </p>

    <p>
      <label><%= l(:label_default_visibility) %></label>
      <%= select_tag 'settings[default_visibility]', 
                     options_for_select([['private', 'private'], ['public', 'public']], 
                     @settings['default_visibility']) %>
    </p>
  </div>
<% end %>