<%# Garante pelo menos um campo vazio APENAS para contatos do tipo pessoa %>
<% if f.object.person? %>
  <% f.object.employments_as_person.build if f.object.employments_as_person.empty? %>
<% end %>

<fieldset id="contact-employments-fieldset" style="display:none;">
  <legend><%= l(:label_contact_employments) %></legend>

  <div id="contact-employments">
    <%# Renderiza vínculos existentes APENAS para pessoas %>
    <% if f.object.person? %>
      <% f.object.employments_as_person.each_with_index do |employment, index| %>
        <% unless employment.marked_for_destruction? %>
          <div class="contact-employment-fields">
            <%= f.fields_for :employments_as_person, employment, include_id: false do |ff| %>
              <p>
                <%= ff.hidden_field :id %>
                <%= ff.check_box :_destroy, style: "display:none;" %>
                <%= ff.label :company_id, l(:field_company) %>
                <%= ff.select :company_id,
                              CompanyContactOptionCollection.new(@project).options,
                              { include_blank: true },
                              { class: "select2", data: { placeholder: l(:label_select_company) } } %> 
                </p>
                <p>
                <%= ff.label :position, l(:field_position) %>
                <%= ff.text_field :position, class: "small" %>
                </p>
                <p>
                <%= ff.label :start_date, l(:field_start_date) %>
                </p>
                <p>
                <%= ff.text_field :start_date, class: "date-select small", value: (employment.start_date || Date.current).strftime('%Y-%m-%d') %>
                </p>
                <p>
                <%= ff.label :end_date, l(:field_end_date) %>
                <%= ff.text_field :end_date, class: "date-select small", value: employment.end_date&.strftime('%Y-%m-%d') %>
                <%= link_to_function l(:button_delete), "removeContactEmployment(this)", class: 'icon icon-del' %>
              </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%# Template escondido para novos vínculos %>
    <div id="contact-employment-template" style="display:none;">
      <div class="contact-employment-fields">
        <input type="hidden" name="contact[employments_as_person_attributes][NEW_RECORD][_destroy]" value="0" />
        <label><%= l(:field_company) %></label>
        <select name="contact[employments_as_person_attributes][NEW_RECORD][company_id]" class="select2">
          <option value=""><%= l(:label_select_company) %></option>
          <% CompanyContactOptionCollection.new(@project).options.each do |name, id| %>
            <option value="<%= id %>"><%= name %></option>
          <% end %>
        </select>
        <label><%= l(:field_position) %></label>
        <input type="text" name="contact[employments_as_person_attributes][NEW_RECORD][position]" class="small" />
        <label><%= l(:field_start_date) %></label>
        <input type="text" name="contact[employments_as_person_attributes][NEW_RECORD][start_date]" class="date-select small" value="<%= Date.current.strftime('%Y-%m-%d') %>" />
        <label><%= l(:field_end_date) %></label>
        <input type="text" name="contact[employments_as_person_attributes][NEW_RECORD][end_date]" class="date-select small" />
        <a href="#" onclick="removeContactEmployment(this); return false;" class="icon icon-del"><%= l(:button_delete) %></a>
      </div>
    </div>
  </div>

  <%= link_to_function l(:button_add), "addContactEmployment()", class: 'icon icon-add' %>
</fieldset>

<%# Injeta o script no rodapé da página (após o carregamento do DOM) %>
<% content_for :javascript do %>
  document.addEventListener('DOMContentLoaded', function() {
    const container = document.getElementById('contact-employments');
    if (container && !container.dataset.template) {
      container.dataset.template = 
        document.getElementById('contact-employment-template').innerHTML;
    }
  });
<% end %>