<%# app/views/contacts/_email_fields.html.erb %>
<div class="contact-email-fields nested-fields">
  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
  <p>
    <%= f.label :email, l(:field_email) %>
    <%= f.text_field :email, size: 60, placeholder: "exemplo@dominio.com" %>
    <%= f.check_box :is_primary %> <%= f.label :is_primary, l(:label_primary) %>
    <%= link_to l(:button_remove), '#', class: 'icon icon-del remove_fields' %>
  </p>
</div>