<%# app/views/contacts/_form.html.erb %>
<%= error_messages_for @contact %>

<div class="box tabular">
  <p class="required">
    <%= f.label :contact_type, l(:field_type) %>
    <%= f.select :contact_type,
                [[l(:label_person), 'person'], [l(:label_company), 'company']],
                required: true %>
    <br><span class="description"><%= l(:text_contact_type_description) %></span>
  </p>

  <p class="required">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, size: 60, placeholder: "Nome completo ou razão social" %>
    <br><span class="description"><%= l(:text_name_description) %></span>
  </p>

  <fieldset class="box" data-controller="nested-form">
    <legend><%= l(:label_email_plural) %></legend>
    <div id="emails" data-nested-form-target="target">
      <%= f.fields_for :emails do |email_form| %>
        <%= render 'contacts/email_fields', f: email_form %>
      <% end %>
    </div>
    <div data-nested-form-target="template">
      <%= link_to l(:label_add_email), new_email_field_contacts_path, class: 'icon icon-add', data: { turbo_stream: true } %>
    </div>
  </fieldset>

  <fieldset class="box" data-controller="nested-form">
    <legend><%= l(:label_phone_plural) %></legend>
    <div id="phones" data-nested-form-target="target">
      <%= f.fields_for :phones do |phone_form| %>
        <%= render 'contacts/phone_fields', f: phone_form %>
      <% end %>
    </div>
    <div data-nested-form-target="template">
      <%= link_to l(:label_add_phone), new_phone_field_contacts_path, class: 'icon icon-add', data: { turbo_stream: true } %>
    </div>
  </fieldset>

  <fieldset class="box" data-controller="nested-form">
    <legend><%= l(:label_address_plural) %></legend>
    <div id="addresses" data-nested-form-target="target">
      <%= f.fields_for :addresses do |address_form| %>
        <%= render 'contacts/address_fields', f: address_form %>
      <% end %>
    </div>
    <div data-nested-form-target="template">
      <%= link_to l(:label_add_address), new_address_field_contacts_path, class: 'icon icon-add', data: { turbo_stream: true } %>
    </div>
  </fieldset>

  <p class="required">
    <%= f.label :status %>
    <%= f.select :status,
                [[l(:label_active), 'active'],
                 [l(:label_inactive), 'inactive'],
                 [l(:label_discontinued), 'discontinued']],
                required: true %>
    <br><span class="description"><%= l(:text_status_description) %></span>
  </p>

  <p class="person-only">
    <%= f.label :available_hours_per_day %>
    <%= f.number_field :available_hours_per_day, min: 0, max: 24, step: 0.5, placeholder: Setting.plugin_foton_contacts[:default_workload_hours] %>
    <br><span class="description"><%= l(:text_available_hours_per_day_info) %></span>
  </p>

  <p>
    <%= f.label :description, l(:field_group_description) %>
    <%= f.text_area :description,
                    cols: 60,
                    rows: 15,
                    class: 'wiki-edit',
                    placeholder: l(:text_description_description) %>
  </p>



  <fieldset id="contact-employments-form" class="box" data-controller="nested-form" style="<%= 'display: none;' unless @contact.person? %>">
    <legend><%= l(:label_contact_employments) %></legend>
    
    <div id="employments" data-nested-form-target="target">
      <%= f.fields_for :employments_as_person do |employment_form| %>
        <%= render 'contacts/contact_employment_fields', f: employment_form %>
      <% end %>
    </div>

    <div data-nested-form-target="template">
      <%= link_to l(:label_add_employment), new_employment_field_contacts_path, class: 'icon icon-add', data: { turbo_stream: true } %>
    </div>
  </fieldset>

  <fieldset class="box">
    <legend><%= l(:label_attachment_plural) %></legend>
    <p><%= render partial: 'attachments/form', locals: { container: @contact } %></p>
  </fieldset>

  <p>
    <%= f.label :is_private %>
    <%= f.check_box :is_private %>
    <br><span class="description"><%= l(:text_is_private_description) %></span>
  </p>

  <%= call_hook(:view_contacts_form_details, contact: @contact, form: f) %>
</div>
