<div class="contextual">
  <%= link_to l(:label_contact_new), new_contact_path, class: 'icon icon-add', data: { turbo_frame: 'modal' } %>
  <%= link_to l(:label_contact_groups), contact_groups_path, class: 'icon icon-folder' %>
  <%= link_to l(:label_analytics), analytics_dashboard_path, class: 'icon icon-stats' %>
  <%= link_to l(:label_import_contacts), import_contacts_path, class: 'icon icon-add' %>
  <%= link_to l(:label_export_as_csv), export_contacts_path(format: 'csv'), class: 'icon icon-download' %>
  <%= link_to l(:label_export_as_vcf), export_contacts_path(format: 'vcf'), class: 'icon icon-download' %>
</div>

<h2><%= l(:label_contacts) %></h2>

<%# Render Quality Monitor Cards - The partial now contains the row/col structure %>
<%= safe_render partial: 'analytics/components/data_quality', locals: { quality_data: @quality_data } %>

<%= turbo_frame_tag "contacts" do %>
  <%= form_tag(contacts_path, 
      method: :get, 
      id: 'query_form', 
      data: { 
        controller: "contact-filter-observer",
        'contact-filter-observer-base-url-value': analytics_dynamic_dashboard_path,
        'contact-filter-observer-frame-target': '#dynamic_dashboard'
      }) do %>
    <fieldset id="filters" class="collapsible">
      <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
      <div style="">
        <div class="splitcontent">
          <div class="splitcontentleft">
            <p>
              <%= label_tag 'search', l(:field_name) %>
              <%= text_field_tag 'search', params[:search], size: 30 %>
            </p>
            <p>
              <%= label_tag 'contact_type', l(:field_type) %>
              <%= select_tag 'contact_type', options_for_select([[l(:label_all), '']] + FotonContact.contact_types.keys.map { |t| [l("label_#{t}"), t] }, params[:contact_type]) %>
            </p>
          </div>
          <div class="splitcontentright">
            <p>
              <%= label_tag 'status', l(:field_status) %>
              <%= select_tag 'status', options_for_select([[l(:label_all), '']] + FotonContact.statuses.keys.map { |s| [l("label_#{s}"), s] }, params[:status]) %>
            </p>
          </div>
        </div>
      </div>
      <p class="buttons">
        <%= link_to l(:button_apply), '#', onclick: 'submit_query_form("query_form"); return false;', class: 'icon icon-checked' %>
        <%= link_to l(:button_clear), {controller: 'contacts', action: 'index'}, class: 'icon icon-reload' %>
      </p>
    </fieldset>
  <% end %>

  <div id="contacts_list">
    <table class="list">
      <thead>
        <tr>
          <th><%= l(:field_name) %></th>
          <th><%= l(:field_type) %></th>
          <th><%= l(:field_phone) %></th>
          <th><%= l(:field_email) %></th>
          <th><%= l(:field_created_on) %></th>
          <th><%= l(:field_status) %></th>
          <th style="width: 15%"><%= l(:label_actions) %></th>
        </tr>
      </thead>
      <tbody id="contacts_tbody">
        <% @contacts.each do |contact| %>
          <%= safe_render partial: 'contact_row', locals: { contact: contact } %>
        <% end %>
      </tbody>
    </table>
  </div>
  <p class="pagination"><%= pagination_links_full @contact_pages, @contact_count %></p>

  <% if @contacts.empty? %>
    <%= render partial: 'common/empty_state', locals: {
      message: l(:label_no_contacts_found),
      button_label: l(:label_new_contact),
      button_path: new_contact_path(type: 'person')
    } %>
  <% end %>
<% end %>

<%= turbo_frame_tag "modal" %>

<hr />

<%= turbo_frame_tag "dynamic_dashboard", src: analytics_dynamic_dashboard_path(@filter_params) %>
