<%# app/views/contacts/show.html.erb %>
<% html_title(@contact.name) %>

<div class="contextual">
  <% if User.current.allowed_to?(:view_contact_analysis, @contact.project) %>
    <%= link_to l(:button_analysis), '#',
                class: 'icon icon-stats',
                onclick: "showModal('analysis-dialog', '80%'); return false;" %>
  <% end %>
  <%= link_to l(:button_edit), edit_contact_path(@contact),
              class: 'icon icon-edit' if User.current.allowed_to?(:manage_contacts, @contact.project) %>
  <%= link_to l(:button_delete), contact_path(@contact),
              method: :delete,
              class: 'icon icon-del',
              data: { confirm: l(:text_are_you_sure) } if User.current.allowed_to?(:manage_contacts, @contact.project) %>
</div>

<h2>
  <%= avatar(@contact.user, size: 32) if @contact.user %>
  <%= @contact.name %>
  <span class="badge badge-<%= @contact.status %>"><%= l("label_#{@contact.status}") %></span>
</h2>

<% tabs = [] %>
<% tabs << { name: 'details', partial: 'contacts/tabs/details', label: :label_details_plural } %>
<% tabs << { name: 'companies', partial: 'contacts/tabs/companies', label: :label_companies } if @contact.person? && @roles.any? %>
<% tabs << { name: 'tasks', partial: 'contacts/tabs/tasks', label: :label_issue_plural } if @issues.any? %>
<% tabs << { name: 'groups', partial: 'contacts/tabs/groups', label: :label_group_plural } if @groups.any? %>
<% tabs << { name: 'files', partial: 'contacts/tabs/files', label: :label_file_plural } if @contact.attachments.any? %>
<% tabs << { name: 'history', partial: 'contacts/tabs/history', label: :label_history } %>

<div class="contact-details <%= @contact.contact_type %>">
  <div class="splitcontentleft">
    <div class="box">
      <table class="attributes">
        <% if @contact.email.present? %>
          <tr>
            <th class="email"><%= l(:field_email) %>:</th>
            <td><%= mail_to @contact.email %></td>
          </tr>
        <% end %>
        <% if @contact.phone.present? %>
          <tr>
            <th class="phone"><%= l(:field_phone) %>:</th>
            <td><%= @contact.phone %></td>
          </tr>
        <% end %>
        <% if @contact.address.present? %>
          <tr>
            <th class="address"><%= l(:field_address) %>:</th>
            <td><%= simple_format @contact.address %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <% if @contact.description.present? %>
      <div class="box wiki">
        <h3><%= l(:field_description) %></h3>
        <%= textilizable @contact.description %>
      </div>
    <% end %>

    <% if @contact.person? && @roles.any? %>
      <div class="box">
        <h3><%= l(:label_companies) %></h3>
        <table class="list contact-roles">
          <thead>
            <tr>
              <th><%= l(:label_company) %></th>
              <th><%= l(:field_position) %></th>
              <th><%= l(:field_status) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @roles.each do |role| %>
              <tr class="<%= role.status_name %>">
                <td><%= link_to role.company.name, contact_path(role.company) %></td>
                <td><%= role.position %></td>
                <td><%= l("label_#{role.status_name}") %></td>
                <td class="buttons">
                  <%= link_to l(:button_delete), contact_role_path(role),
                            method: :delete,
                            remote: true,
                            class: 'icon icon-del',
                            data: { confirm: l(:text_are_you_sure) } if User.current.allowed_to?(:manage_contacts, @contact.project) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @issues.any? %>
      <div class="box">
        <h3><%= l(:label_issue_plural) %></h3>
        <%= render partial: 'issues/list_simple', locals: { issues: @issues } %>
      </div>
    <% end %>
  </div>

  <%= render_tabs tabs %>
</div>

<% content_for :sidebar do %>
  <% if @contact.attachments.any? %>
    <div class="box">
      <h3><%= l(:label_attachment_plural) %></h3>
      <ul>
        <% @contact.attachments.each do |attachment| %>
          <li>
            <%= link_to_attachment attachment, class: attachment.is_image? ? 'thumbnail' : nil %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'contacts', plugin: 'foton_contacts' %>
  <%= javascript_include_tag 'contacts', plugin: 'foton_contacts' %>
<% end %>

<%# Modal de Análise (BI) %>
<div id="analysis-dialog" style="display:none;">
  <h3 class="title"><%= l(:label_contact_analysis) %> - <%= @contact.name %></h3>
  
  <div class="tabs">
    <ul>
      <li><a href="#tab-links"><%= l(:label_links_analysis) %></a></li>
      <li><a href="#tab-projects"><%= l(:label_projects_analysis) %></a></li>
      <li><a href="#tab-career"><%= l(:label_career_analysis) %></a></li>
      <li><a href="#tab-alerts"><%= l(:label_alerts_analysis) %></a></li>
    </ul>
    
    <div id="tab-links">
      <%# Análise de vínculos será carregada via AJAX %>
    </div>
    
    <div id="tab-projects">
      <%# Análise de projetos será carregada via AJAX %>
    </div>
    
    <div id="tab-career">
      <%# Análise de carreira será carregada via AJAX %>
    </div>
    
    <div id="tab-alerts">
      <%# Análise de alertas será carregada via AJAX %>
    </div>
  </div>
  
  <div class="buttons">
    <%= link_to_function l(:button_close), "hideModal(this);", class: 'icon icon-close' %>
  </div>
</div>
