<div class="contextual">
  <%= link_to l(:button_edit), edit_contact_path(@contact), class: 'icon icon-edit' if User.current.allowed_to?(:manage_contacts, @project, global: true) %>
  <%= delete_link contact_path(@contact) if User.current.allowed_to?(:manage_contacts, @project, global: true) %>
</div>

<h2><%= @contact.name %></h2>

<div class="tabs">
  <ul>
    <li><a href="#tab-details" class="selected"><%= l(:label_details_plural) %></a></li>
    <% if @contact.person? && @contact_roles.present? %>
      <li><a href="#tab-companies"><%= l(:label_companies) %></a></li>
    <% end %>
    <% if @contact_groups.present? %>
      <li><a href="#tab-groups"><%= l(:label_group_plural) %></a></li>
    <% end %>
    <% if @issues.present? %>
      <li><a href="#tab-issues"><%= l(:label_issue_plural) %></a></li>
    <% end %>
  </ul>
</div>

<div id="tab-details" class="tab-content">
  <div class="splitcontent">
    <div class="splitcontentleft">
      <div class="box">
        <p><strong><%= l(:field_type) %>:</strong> <%= l("label_#{@contact.contact_type}") %></p>
        <p><strong><%= l(:field_email) %>:</strong> <%= mail_to @contact.email %></p>
        <p><strong><%= l(:field_phone) %>:</strong> <%= @contact.phone %></p>
        <p><strong><%= l(:field_address) %>:</strong> <%= @contact.address %></p>
        <p><strong><%= l(:field_status) %>:</strong> <span class="status <%= @contact.status %>"><%= l("label_#{@contact.status}") %></span></p>
        <p><strong><%= l(:field_description) %>:</strong> <%= @contact.description %></p>
        
      </div>
    </div>
    <div class="splitcontentright">
      <div class="box">
        <p><strong><%= l(:field_author) %>:</strong> <%= link_to_user @contact.author %></p>
        <p><strong><%= l(:field_created_at) %>:</strong> <%= format_time(@contact.created_at) %></p>
        <p><strong><%= l(:field_is_private) %>:</strong> <%= @contact.is_private? ? l(:general_text_yes) : l(:general_text_no) %></p>
        <% if @contact.project %>
          <p><strong><%= l(:field_project) %>:</strong> <%= link_to_project @contact.project %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% if @custom_values.any? %>
    <div class="box">
      <h3><%= l(:label_custom_fields) %></h3>
      <%= render_custom_fields_rows(@contact) %>
    </div>
  <% end %>
</div>

<% if @contact.person? && @contact_roles.present? %>
<div id="tab-companies" class="tab-content" style="display:none;">
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:label_company) %></th>
        <th><%= l(:field_position) %></th>
        <th><%= l(:field_status) %></th>
      </tr>
    </thead>
    <tbody>
      <% @contact_roles.each do |role| %>
        <tr class="contact-role">
          <td><%= link_to role.company.name, contact_path(role.company) %></td>
          <td><%= role.position %></td>
          <td><span class="status <%= role.status %>"><%= l("label_#{role.status}") %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% if @contact_groups.present? %>
<div id="tab-groups" class="tab-content" style="display:none;">
  <ul class="contact-groups">
    <% @contact_groups.each do |group| %>
      <li><%= link_to group.name, contact_group_path(group) %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @issues.present? %>
<div id="tab-issues" class="tab-content" style="display:none;">
  <%= render partial: 'issues/list_simple', locals: { issues: @issues } %>
</div>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'contacts', plugin: 'foton_contacts' %>
<% end %>