<div class="card">
  <div class="card-header"><h4>Ranking de Equipes</h4></div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>Posição</th>
            <th>Equipe</th>
            <th>Score Geral</th>
            <th>Risco Médio</th>
          </tr>
        </thead>
        <tbody>
          <% scorecard_data.each_with_index do |data, index| %>
            <tr>
              <td style="width: 15%; text-align: center;"><span class="badge badge-<%= index + 1 %>"><%= index + 1 %>º</span></td>
              <td>
                                <%= link_to data[:group_name], url_for(controller: 'analytics', action: 'team_details', id: data[:group_id]), data: { turbo_frame: "team_details_card" } %>
              </td>
              <td><span class="badge badge-success"><%= data[:overall_score] %></span></td>
              <td><%= data[:avg_risk_score] %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>