<div class="table-responsive">
  <table class="table table-bordered table-sm" style="table-layout: fixed;">
    <thead>
      <tr>
        <th style="width: 15%;"><%= l(:label_contact) %></th>
        <% date_range.each do |date_header| %>
          <th style="text-align: center; width: 10%;">
            <% if period == :year %>
              <%= l("date.abbr_month_names")[date_header.month] %>
            <% elsif period == :month %>
              S<%= date_header.cweek %>
            <% else %>
              <%= date_header.day %><br/><%= l("date.abbr_day_names")[date_header.wday] %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% contacts.each do |contact| %>
        <% contact_workload = workload_data.fetch(contact, {}) %>
        
        <%# Linha 1: Carga Total %>
        <tr>
          <td rowspan="2" style="vertical-align: middle;">
            <%= link_to contact.name, contact_path(contact), data: { turbo: false } %>
          </td>
          <% date_range.each do |day| %>
            <% day_data = contact_workload.fetch(day, {}) %>
            <% total_hours = day_data.fetch(:individual, 0) + day_data.fetch(:group, 0) %>
            <% total_percentage = workload_hours_to_percentage(total_hours, contact) %>
            <% 
              css_class = case total_percentage
                        when 1..85 then 'workload-low'
                        when 86..100 then 'workload-medium'
                        when 101..120 then 'workload-high'
                        when 121..Float::INFINITY then 'workload-overload'
                        else ''
                        end
            %>
            <td class="workload-cell <%= css_class %>" style="text-align: center; font-weight: bold;">
              <%= "#{total_percentage}%" if total_percentage > 0 %>
            </td>
          <% end %>
        </tr>
        
        <%# Linha 2: Detalhe Individual vs Grupo %>
        <tr class="workload-details-row">
          <% date_range.each do |day| %>
            <% day_data = contact_workload.fetch(day, {}) %>
            <% individual_hours = day_data.fetch(:individual, 0) %>
            <% group_hours = day_data.fetch(:group, 0) %>
            <% total_hours = individual_hours + group_hours %>

            <td style="text-align: center; font-size: 0.8em;">
              <% if total_hours > 0 %>
                <div>I: <%= workload_hours_to_percentage(individual_hours, contact) %>%</div>
                <div>G: <%= workload_hours_to_percentage(group_hours, contact) %>%</div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>