<%# app/views/contacts/tabs/_details.html.erb %>
<div class="splitcontentleft">
  <div class="box">
    <table class="attributes">
      <% if @contact.email.present? %>
        <tr>
          <th class="email"><%= l(:field_email) %>:</th>
          <td><%= mail_to @contact.email %></td>
        </tr>
      <% end %>
      <% if @contact.phone.present? %>
        <tr>
          <th class="phone"><%= l(:field_phone) %>:</th>
          <td><%= @contact.phone %></td>
        </tr>
      <% end %>
      <% if @contact.address.present? %>
        <tr>
          <th class="address"><%= l(:field_address) %>:</th>
          <td><%= simple_format @contact.address %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <% if @contact.description.present? %>
    <div class="box wiki">
      <h3><%= l(:field_description) %></h3>
      <%= textilizable @contact.description %>
    </div>
  <% end %>
</div>

<div class="splitcontentright">
  <div class="box">
    <h3><%= l(:label_details_plural) %></h3>
    <table class="attributes">
      <tr>
        <th><%= l(:field_type) %>:</th>
        <td><%= l("label_#{@contact.contact_type}") %></td>
      </tr>
      <tr>
        <th><%= l(:field_status) %>:</th>
        <td><%= l("label_#{@contact.status}") %></td>
      </tr>
      <tr>
        <th><%= l(:field_author) %>:</th>
        <td><%= link_to_user @contact.author %></td>
      </tr>
      <tr>
        <th><%= l(:field_created_on) %>:</th>
        <td><%= format_time(@contact.created_at) %></td>
      </tr>
      <tr>
        <th><%= l(:field_is_private) %>:</th>
        <td><%= @contact.is_private? ? l(:general_text_yes) : l(:general_text_no) %></td>
      </tr>
    </table>
  </div>

  <%= render partial: 'custom_fields/show', locals: { customized: @contact } %>
</div>