<%= turbo_frame_tag "irpa_widget" do %>
  <h3>Índice de Risco Preditivo (IRPA)</h3>
  <div class="autoscroll">
    <table class="list">
      <thead>
        <tr>
          <th><%= l(:label_contact) %></th>
          <th>Score de Risco</th>
          <th>Taxa de Atraso Histórica</th>
          <th>Índice de Retrabalho</th>
          <th>Fator de Criticidade</th>
        </tr>
      </thead>
      <tbody>
        <% @irpa_data.each do |data| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= link_to data[:contact_name], analytics_contact_details_path(id: data[:contact_id]), data: { turbo_frame: "modal" } %></td>
            <td><%= number_with_precision(data[:risk_score], precision: 2) %>%</td>
            <td><%= number_with_precision(data[:tah_percent], precision: 2) %>%</td>
            <td><%= number_with_precision(data[:ir_percent], precision: 2) %>%</td>
            <td><%= number_with_precision(data[:fcp_avg], precision: 2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
