<style>
  .workload-cell { text-align: center; }
  .workload-low { background-color: #d4edda; }
  .workload-medium { background-color: #fff3cd; }
  .workload-high { background-color: #f8d7da; }
  .workload-overload { background-color: #dc3545; color: white; font-weight: bold; }
</style>

<h3>Mapa de Carga de Trabalho (<%= format_date(@start_date) %> - <%= format_date(@end_date) %>)</h3>
<div class="autoscroll">
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:label_contact) %></th>
        <% @date_range.each do |day| %>
          <th style="text-align: center;"><%= day.day %><br/><%= l("date.abbr_day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= link_to contact.name, contact_path(contact) %></td>
          <% @date_range.each do |day| %>
            <% percentage = @workload_data[contact][day].to_f %>
            <% 
              css_class = ''
              if percentage > 0 && percentage <= 85
                css_class = 'workload-low'
              elsif percentage > 85 && percentage <= 100
                css_class = 'workload-medium'
              elsif percentage > 100 && percentage <= 120
                css_class = 'workload-high'
              elsif percentage > 120
                css_class = 'workload-overload'
              end
            %>
            <td class="workload-cell <%= css_class %>">
              <%= "#{percentage.to_i}%" if percentage > 0 %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
